Repository audacity/audacity, pull requests merged in 2023-03, with the labels that each got.

#4365 Break dependencies on ffmpeg and mp3
  libraries/lib-registries/Registry.h
  src/CMakeLists.txt
  src/Menus.cpp
  src/commands/CommandManager.h
  src/export/Export.cpp
  src/export/Export.h
  src/export/FFmpegPrefs.cpp
  src/export/MP3Prefs.cpp
  src/import/Import.cpp
  src/import/Import.h
  src/import/ImportFFmpeg.cpp
  src/import/ImportPlugin.cpp
  src/import/ImportPlugin.h
  src/menus/FileMenus.cpp
  src/prefs/LibraryPrefs.cpp
  src/prefs/LibraryPrefs.h
  src/prefs/PrefsDialog.cpp
  src/prefs/PrefsPanel.cpp
  src/prefs/PrefsPanel.h
Labels: refactoring, dependency breaking, import-export

#4304 Extract lib effects
  libraries/CMakeLists.txt
  libraries/lib-effects/CMakeLists.txt
  libraries/lib-effects/Effect.cpp
  libraries/lib-effects/Effect.h
  libraries/lib-effects/EffectBase.cpp
  libraries/lib-effects/EffectBase.h
  libraries/lib-effects/EffectPlugin.cpp
  libraries/lib-effects/EffectPlugin.h
  libraries/lib-effects/LoadEffects.cpp
  libraries/lib-effects/LoadEffects.h
  libraries/lib-effects/PerTrackEffect.cpp
  libraries/lib-effects/PerTrackEffect.h
  libraries/lib-effects/StatefulEffectBase.cpp
  libraries/lib-effects/StatefulEffectBase.h
  src/BatchProcessDialog.cpp
  src/CMakeLists.txt
  src/SpectralDataManager.h
  src/commands/SelectCommand.cpp
  src/effects/Amplify.h
  src/effects/AutoDuck.cpp
  src/effects/BassTreble.cpp
  src/effects/ChangePitch.h
  src/effects/ChangeSpeed.h
  src/effects/ChangeTempo.h
  src/effects/ClickRemoval.cpp
  src/effects/ClickRemoval.h
  src/effects/Distortion.cpp
  src/effects/DtmfGen.cpp
  src/effects/Echo.cpp
  src/effects/Equalization.cpp
  src/effects/EqualizationCurves.cpp
  src/effects/EqualizationCurvesDialog.cpp
  src/effects/FindClipping.cpp
  src/effects/FindClipping.h
  src/effects/Generator.cpp
  src/effects/Loudness.h
  src/effects/Noise.h
  src/effects/NoiseReduction.cpp
  src/effects/Normalize.h
  src/effects/Paulstretch.cpp
  src/effects/Paulstretch.h
  src/effects/Phaser.cpp
  src/effects/Repair.cpp
  src/effects/Repeat.h
  src/effects/ScienFilter.cpp
  src/effects/TimeScale.h
  src/effects/ToneGen.h
  src/effects/TruncSilence.cpp
  src/effects/TruncSilence.h
  src/effects/VST3/VST3Instance.h
  src/effects/Wahwah.cpp
  src/effects/audiounits/AudioUnitInstance.h
  src/effects/lv2/LV2Instance.h
  src/effects/nyquist/Nyquist.cpp
  src/effects/vamp/VampEffect.cpp
  src/effects/vamp/VampEffect.h
Labels: Effects, Generators, libraries

#4385 Reorganize libraries
  cmake-proxies/cmake-modules/AudacityFunctions.cmake
  libraries/CMakeLists.txt
  libraries/lib-command-parameters/CMakeLists.txt
  libraries/lib-effects/CMakeLists.txt
  libraries/lib-effects/MixAndRender.cpp
  libraries/lib-effects/MixAndRender.h
  libraries/lib-math/CMakeLists.txt
  libraries/lib-project-file-io/CMakeLists.txt
  libraries/lib-project-file-io/SqliteSampleBlock.cpp
  libraries/lib-project-history/CMakeLists.txt
  libraries/lib-project-history/ProjectHistory.cpp
  libraries/lib-project-history/UndoManager.cpp
  libraries/lib-project-history/UndoManager.h
  libraries/lib-realtime-effects/CMakeLists.txt
  libraries/lib-screen-geometry/CMakeLists.txt
  libraries/lib-screen-geometry/ZoomInfo.cpp
  libraries/lib-screen-geometry/ZoomInfo.h
  libraries/lib-time-frequency-selection/CMakeLists.txt
  libraries/lib-time-frequency-selection/SelectedRegion.cpp
  libraries/lib-time-frequency-selection/SelectedRegion.h
  libraries/lib-time-frequency-selection/ViewInfo.cpp
  libraries/lib-time-frequency-selection/ViewInfo.h
  libraries/lib-track-selection/CMakeLists.txt
  libraries/lib-track/CMakeLists.txt
  libraries/lib-track/Track.cpp
  libraries/lib-track/Track.h
  libraries/lib-wave-track/CMakeLists.txt
  libraries/lib-xml/CMakeLists.txt
  src/CMakeLists.txt
  src/HistoryWindow.cpp
  src/ProjectFileManager.cpp
  src/effects/EffectUI.cpp
  src/prefs/PrefsDialog.h
  src/tracks/playabletrack/wavetrack/ui/SampleHandle.cpp
  src/tracks/playabletrack/wavetrack/ui/WaveTrackView.cpp
  src/tracks/playabletrack/wavetrack/ui/WaveformView.cpp
Labels: refactoring, libraries

#4350 Extract lib vst3
  CMakeLists.txt
  libraries/CMakeLists.txt
  libraries/lib-vst3/AudacityVst3HostApplication.cpp
  libraries/lib-vst3/AudacityVst3HostApplication.h
  libraries/lib-vst3/CMakeLists.txt
  libraries/lib-vst3/VST3EffectBase.cpp
  libraries/lib-vst3/VST3EffectBase.h
  libraries/lib-vst3/VST3EffectsModule.cpp
  libraries/lib-vst3/VST3EffectsModule.h
  libraries/lib-vst3/VST3Instance.cpp
  libraries/lib-vst3/VST3Instance.h
  libraries/lib-vst3/VST3Utils.cpp
  libraries/lib-vst3/VST3Utils.h
  libraries/lib-vst3/VST3Wrapper.cpp
  libraries/lib-vst3/VST3Wrapper.h
  libraries/lib-vst3/internal/ConnectionProxy.cpp
  libraries/lib-vst3/internal/ConnectionProxy.h
  libraries/lib-vst3/memorystream.cpp
  libraries/lib-vst3/memorystream.h
  libraries/lib-vst3/module_linux.cpp
  libraries/lib-vst3/module_mac.mm
  libraries/lib-vst3/module_win32.cpp
  src/CMakeLists.txt
  src/effects/VST3/VST3Editor.cpp
  src/effects/VST3/VST3Editor.h
  src/effects/VST3/VST3Effect.cpp
  src/effects/VST3/VST3Effect.h
Labels: Effects, refactoring, libraries

#4443 Fixes Audacity build with VST3 support disabled
  src/CMakeLists.txt
Labels: Build / CI

#4352 Shelf Filter added
  plug-ins/CMakeLists.txt
  plug-ins/ShelfFilter.ny
  src/effects/nyquist/LoadNyquist.cpp
Labels: plugins

#4347 Remove obsolete ;manpage header from Nyquist plug-ins
  plug-ins/SpectralEditParametricEQ.ny
  plug-ins/SpectralEditShelves.ny
  plug-ins/adjustable-fade.ny
  plug-ins/beat.ny
  plug-ins/clipfix.ny
  plug-ins/crossfadetracks.ny
  plug-ins/delay.ny
  plug-ins/eq-xml-to-txt-converter.ny
  plug-ins/equalabel.ny
  plug-ins/highpass.ny
  plug-ins/label-sounds.ny
  plug-ins/limiter.ny
  plug-ins/lowpass.ny
  plug-ins/noisegate.ny
  plug-ins/notch.ny
  plug-ins/nyquist-plug-in-installer.ny
  plug-ins/pluck.ny
  plug-ins/rhythmtrack.ny
  plug-ins/rissetdrum.ny
  plug-ins/sample-data-export.ny
  plug-ins/sample-data-import.ny
  plug-ins/tremolo.ny
  plug-ins/vocalrediso.ny
  plug-ins/vocoder.ny
Labels: plugins
