Repository audacity/audacity, pull requests merged in 2023-02, with the labels that each got.

#4264 Fixes missing handling of conan_allow_prebuilt_binaries
  cmake-proxies/cmake-modules/AudacityDependencies.cmake
  conan/conan_runner.py
Labels: Build / CI

#4226 More in lib basic UI
  libraries/lib-basic-ui/BasicUI.cpp
  libraries/lib-basic-ui/BasicUI.h
  src/effects/EffectBase.cpp
  src/widgets/wxWidgetsBasicUI.cpp
  src/widgets/wxWidgetsBasicUI.h
  src/widgets/wxWidgetsWindowPlacement.cpp
  src/widgets/wxWidgetsWindowPlacement.h
Labels: Effects, refactoring, dependency breaking

#4314 Break an effect dependency
  src/CMakeLists.txt
  src/effects/AnalysisTracks.cpp
  src/effects/AnalysisTracks.h
  src/effects/ChangeSpeed.h
  src/effects/Effect.cpp
  src/effects/Effect.h
  src/effects/EffectBase.h
  src/effects/FindClipping.cpp
  src/effects/SoundTouchEffect.h
  src/effects/vamp/VampEffect.cpp
Labels: refactoring, dependency breaking

#4222 Extract lib track selection
  libraries/CMakeLists.txt
  libraries/lib-audio-io/AudioIO.cpp
  libraries/lib-audio-io/AudioIO.h
  libraries/lib-track-selection/CMakeLists.txt
  libraries/lib-track-selection/SelectionState.cpp
  libraries/lib-track-selection/SelectionState.h
  libraries/lib-track-selection/SyncLock.cpp
  libraries/lib-track-selection/SyncLock.h
  libraries/lib-wave-track/CMakeLists.txt
  libraries/lib-wave-track/WaveTrack.cpp
  src/CMakeLists.txt
  src/CommonCommandFlags.cpp
  src/Experimental.cmake
  src/ProjectSettings.cpp
  src/ProjectSettings.h
  src/SelectUtilities.cpp
  src/TrackPanel.cpp
  src/TrackPanel.h
  src/commands/CommandManager.h
  src/effects/ChangeSpeed.cpp
  src/effects/Effect.cpp
  src/effects/PerTrackEffect.cpp
  src/effects/Repeat.cpp
  src/effects/Reverse.cpp
  src/effects/SBSMSEffect.cpp
  src/effects/SoundTouchEffect.cpp
  src/effects/StatefulEffectBase.cpp
  src/effects/TruncSilence.cpp
  src/export/ExportMultiple.cpp
  src/menus/ClipMenus.cpp
  src/menus/EditMenus.cpp
  src/menus/HelpMenus.cpp
  src/menus/LabelMenus.cpp
  src/menus/NavigationMenus.cpp
  src/menus/PluginMenus.cpp
  src/menus/SelectMenus.cpp
  src/menus/TrackMenus.cpp
  src/menus/TransportMenus.cpp
  src/prefs/RecordingPrefs.cpp
  src/toolbars/EditToolBar.cpp
  src/toolbars/ToolManager.cpp
  src/tracks/labeltrack/ui/LabelGlyphHandle.cpp
  src/tracks/labeltrack/ui/LabelTextHandle.cpp
  src/tracks/labeltrack/ui/LabelTrackView.cpp
  src/tracks/playabletrack/notetrack/ui/NoteTrackAffordanceControls.cpp
  src/tracks/playabletrack/notetrack/ui/StretchHandle.cpp
  src/tracks/playabletrack/wavetrack/ui/WaveTrackAffordanceControls.cpp
  src/tracks/playabletrack/wavetrack/ui/WaveTrackView.cpp
  src/tracks/playabletrack/wavetrack/ui/WaveformView.cpp
  src/tracks/ui/AffordanceHandle.cpp
  src/tracks/ui/BackgroundCell.cpp
  src/tracks/ui/BrushHandle.cpp
  src/tracks/ui/SelectHandle.cpp
  src/tracks/ui/TimeShiftHandle.cpp
Labels: refactoring, libraries

#4362 Adds a notice about Conan 2.0
  BUILDING.md
  conan/conan_runner.py
Labels: Build / CI

#4366 Position independent code for GNU compiles of some 3party libs...
  cmake-proxies/libsbsms/CMakeLists.txt
  cmake-proxies/libvamp/CMakeLists.txt
  cmake-proxies/lv2/CMakeLists.txt
  cmake-proxies/portsmf/CMakeLists.txt
  cmake-proxies/soundtouch/CMakeLists.txt
  cmake-proxies/sqlite/CMakeLists.txt
  cmake-proxies/twolame/CMakeLists.txt
Labels: Build / CI

#4217 Extract lib project file io
  cmake-proxies/CMakeLists.txt
  libraries/CMakeLists.txt
  libraries/lib-project-file-io/ActiveProjects.cpp
  libraries/lib-project-file-io/ActiveProjects.h
  libraries/lib-project-file-io/CMakeLists.txt
  libraries/lib-project-file-io/DBConnection.cpp
  libraries/lib-project-file-io/DBConnection.h
  libraries/lib-project-file-io/ProjectFileIO.cpp
  libraries/lib-project-file-io/ProjectFileIO.h
  libraries/lib-project-file-io/ProjectSerializer.cpp
  libraries/lib-project-file-io/ProjectSerializer.h
  libraries/lib-project-file-io/SqliteSampleBlock.cpp
  src/CMakeLists.txt
  src/ProjectFileManager.cpp
  src/ProjectFileManager.h
  src/ProjectWindow.cpp
  src/ProjectWindow.h
  src/SpectralDataDialog.cpp
  src/commands/OpenSaveCommands.cpp
  src/effects/Contrast.cpp
  src/import/ImportAUP.cpp
  src/import/ImportMIDI.cpp
  src/menus/FileMenus.cpp
  src/menus/TransportMenus.cpp
Labels: refactoring, libraries
